body
{
  font-family: abel;
  margin:0px;
  background:url("1.jpg");
  background-position: center;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidebar a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  transition: 0.3s;
  border-bottom: 1px solid #818181
}
.sidebar a:hover ,.sidebar a:active{
  color: #f1f1f1;
}

.sidebar .closebtn {
  color: #f1f1f1;
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 25px;
  margin-left: 60px;
}

.openbtn {
    position: absolute;
    top: 20px;
  font-size: 22px;
  cursor: pointer;
  color: black;
  padding: 10px 0px 0px 15px ;
  border: none;
  clear: both;
}
#mainmob {
  transition: margin-left .5s;
  padding: 80px 16px 16px 16px;
}
.main
{
  display:none;
}
.logoo img{
  position: absolute; 
  width:60px;
  top:10px;
  right:10px;
}
.title
{
  position:absolute;
  top:50%;
  left : 50%;
  transform : translate(-50%,-50%);
  font-family: serif;
}
.title h1
{
  color : #fff;
  font-family: abel;
  font-size:50px;
}
.button
{
  position:absolute;
  top:65%;
  left: 48%;
  transform : translate(-50%,-50%);
}
.bn
{
  border : 1px solid #fff;
  padding: 10px 10px;
  margin:1px;
  color:#fff;
  text-decoration: none;
  transition: 0.6s ease;
}
.bn:hover{
  background-color: #fff;
  color : #000;
}
@media only screen and (min-width: 768px) {
  .logo img
  {
    position: absolute;
    top:10px;
    left: 10px;
    width : 60px;
    height : auto;
  }
  body{
    background:url("1.jpg");
    background-size: cover;
  }
  .ham{
    display: none;
  }
  .main{
    display: block;
  }
  ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
  }
  ul li
  {
    display: inline;
  }
  ul li a{
    text-decoration: none;
    color : #fff;
    padding : 5px 20px;
    border : 1px solid transparent;
    transition : 0.6s ease;
  }
  ul li a:hover
  {
    background-color: #fff;
    color: #000;
  }
  ul .active a{
    background-color: #fff;
    color:#000;
  }

  .title h1
{
  color : #fff;
  font-family: abel;
  font-size: 100px;
}
.button
{
  position:absolute;
  top:65%;
  left : 50%;
  transform : translate(-50%,-50%);
}
.bn
{
  border : 1px solid #fff;
  padding: 10px 30px;
  color:#fff;
  text-decoration: none;
  transition: 0.6s ease;
}


}